html, body {
    margin: 0;
    height: 100%;
}

.section1 {
text-align: center;
    font-size: .5rem;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
    margin-top: -60px;
}

.sectionHeader{
    margin-top: 65px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.sectionHeader2{
    margin-top: 45px;
    margin-bottom: -10px;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
}

.banner{
  position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;

}
.bannerinfo{

    /* position: absolute; */
    /* right: 15%; */
    /* bottom: 350px; */
    /* left: 15%; */
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* z-index: 10; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
        color: white;
}




body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.boothlocation {
text-align: center;
    font-size: .5rem;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
   }


/*////////////////////////////////////////////Footer//////////////////////////////////////////////////////////*/
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  /*vertical-align: top;*/
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:   #f9f295;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
/*//////////////////////////////////////////////////indecators////////////////////////////////////*/
.carousel-indicators{
    position: relative;
    top: 410px;
   

}



/*//////////////////////////////////////////////////////Buttton////////////////////////////////////////////////////////*/


body {

  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #eee;
  font-family: "Dosis", sans-serif;
      width: 100%;
}

.underlined-a {
  text-decoration: none;
  color: aqua;
  padding-bottom: 0.15em;
  box-sizing: border-box;
  box-shadow: inset 0 -0.2em 0 aqua;
  transition: 0.2s;
  &:hover {
    color: #222;
    box-shadow: inset 0 -2em 0 aqua;
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.brk-btn {
    position: relative;
    background: none;
    color: #1b1d1d;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid #306969;
    padding: 1em 4em;
    margin-top: 25px;
  }
  .brk-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .brk-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .brk-btn:hover::before {
      right: 80%;
      background-color: lightgreen;
    }
    .brk-btn:hover:after {
      left: 80%;
       background-color: lightgreen;
    }
  
.brk-btn:hover{
cursor: pointer;
  background-color: grey;
  color: white;
}



.esfna{

text-align: center;
}
.esfnalogo{


height: 170px;
margin-bottom:2%;
margin-top: 1.75%;

}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.howitworks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: lightblue;
    padding: 5%;

}
.col-sm-12 {
    width: 100%;
}

.heading-title {
    margin-bottom: 80px;
    text-align: center;
}

.heading-title .title {
    position: relative;
}
.iq-tw-6 {
    font-weight: 600;
}
h2 {
    font-size: 36px;
    font-style: normal;
    line-height: 44px;
}

.heading-title .divider {
    border: 2px solid #09b3ef;
    position: relative;
    display: inline-block;
    width: 30px;
    margin-top: 30px;
}

.iq-font-light-blue {
    color: #09b3ef;
}


.iq-Work-box .Work-icon i {
    border-radius: 90px;
    display: inline-block;
    height: 99px;
    width: 99px;
    line-height: 99px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: 54px;
    text-align: center;
    color: #ffffff;
    background: rgba(9, 179, 239, 1);
    background: -moz-linear-gradient(left, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(9, 179, 239, 1)), color-stop(100%, rgba(30, 80, 226, 1)));
    background: -webkit-linear-gradient(left, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -o-linear-gradient(left, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -ms-linear-gradient(left, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: linear-gradient(to right, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09b3ef', endColorstr='#1e50e2', GradientType=1);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.iq-tw-6 {
    font-weight: 600;
}
.iq-mb-15 {
    margin-bottom: 15px;
}
.iq-mt-20 {
    margin-top: 20px;
}
h4 {
    font-size: 24px;
    font-style: normal;
    line-height: 24px;
}


.step1:before {
    content: "\f030";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 50px;
    padding-right: 0.5em;
    position: relative;
    left: 12%;
}

.step2:before {
    content: "\f03e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 50px;
    padding-right: 0.5em;
    position: relative;
    left: 12%;
}

.step3:before {
    content: "\f0b1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 50px;
    padding-right: 0.5em;
    position: relative;
    left: 12%;
}


.logoDiv{
    float: left;
    margin-top: 7px;

}




/*
    background-image: url(https://s3.us-east-2.amazonaws.com/offguard/banner.png);
    background-repeat: no-repeat;


*/